@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  color: black;
}

/* ==> Navbar <== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 25px 10%;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%); /* Menggeser header ke atas */
}

.navbar {
  display: flex;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
}

.navbar a {
  display: inline-block;
  font-weight: 600;
  padding: 0 10px;
  color: black;
  transition: 0.3s all;
}

.navbar a:hover {
  color: #fd1586;
}

.navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid gray;
  transform: scaleX(0);
}

.navbar a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

.logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: default;
  border: 2px solid black;
}

.logo span {
  color: #fd1586;
}

i {
  font-size: 24px;
}

#burger-menu {
  display: none;
}

/* ==> Hero Section <== */
.hero {
  display: flex;
  align-items: center;
  position: relative;
  padding: 25px 10%;
  background-color: #ff9ecb;
  min-height: 100vh;
}

.hero-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info-side {
  margin-top: 6rem;
  margin-right: 3rem;
}

.info-side p {
  margin-top: 1rem;
  line-height: 27px;
  text-align: justify;
}

.heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 6rem;
  font-family: "Pacifico", sans-serif;
}

.hero-img {
  margin-top: 6rem;
  background-color: #ff61ad;
  border-radius: 50%;
}

.hero-img img {
  width: 500px;
  height: 500px;
  margin-right: 2rem;
}

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid black;
  width: 200px;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 16px;
  background-color: gold;
  color: black;
  cursor: pointer;
  transition: 0.3s all;
}

.menuBtn:hover {
  background-color: #7e6e16;
  color: white;
}

/* ==>About Section <== */
.about {
  display: flex;
  align-items: center;
  position: relative;
  padding: 25px 10%;
  background-color: #afdfff;
  min-height: 100vh;
}

h2.heading {
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-info img {
  width: 300px;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.left-button {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.right-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  margin-top: 6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.right-button {
  margin-top: 2rem;
}

.right-info img {
  width: 400px;
}

.right-info p {
  text-align: right;
}

.yellowBtn {
  padding: 12px;
  border-radius: 30px;
  background-color: gold;
  color: black;
  font-weight: 600;
  border: 2px solid black;
  width: 150px;
  cursor: pointer;
  transition: 0.3s all;
}

.yellowBtn:hover {
  background-color: #7e6e16;
  color: white;
}

.whiteBtn {
  padding: 12px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 2px solid black;
  width: 150px;
  cursor: pointer;
  transition: 0.3s all;
}

.whiteBtn:hover {
  background-color: black;
  color: white;
}

/* ==> Product Section <== */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px 10%;
  background-color: #ff9ecb;
  min-height: 100vh;
}

.product-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px 25px;
  margin-top: 5rem;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  padding: 0px 15px;
  background-color: #afdfff;
  border-radius: 10px;
  text-align: center;
}

.card-img img {
  width: 300px;
  position: relative;
  bottom: 80px;
}

.card-info {
  position: relative;
  bottom: 80px;
}

.card-info h4 {
  font-size: 24px;
  font-weight: 700;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: #ff9ecb;
  color: black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.5s all;
}

.card-button button:hover {
  background-color: black;
  color: white;
}

.card-button button i {
  font-size: 32px; /* Ukuran ikon */
}

/* Flavors Section */
.flavors {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px 10%;
  background-color: #afdfff;
  min-height: 100vh;
}

.flavors-names {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  position: relative;
  width: 100%;
}

.flavor {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid black;
  margin: 0 10px;
  width: 200px;
  white-space: nowrap;
  text-align: center;
}

.flavors-names > .flavor:nth-child(1) {
  transform: translateY(30px);
}
.flavors-names > .flavor:nth-child(2) {
  transform: translateY(20px);
}
.flavors-names > .flavor:nth-child(3) {
  transform: translateY(10px);
}
.flavors-names > .flavor:nth-child(4) {
  transform: translateY(0);
}
.flavors-names > .flavor:nth-child(5) {
  transform: translateY(10px);
}
.flavors-names > .flavor:nth-child(6) {
  transform: translateY(20px);
}
.flavors-names > .flavor:nth-child(7) {
  transform: translateY(30px);
}

.flavors-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 10px 25px;
}

.flavors-info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: right;
  align-items: center;
}

.flavors-info p {
  text-align: right;
}

.flavors-button {
  display: flex;
  gap: 2rem;
}

.flavors-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flavors-img i {
  font-size: 32px;
  color: black;
  cursor: pointer;
  margin: 0 20px;
  transition: color 0.3s ease;
}

.flavors-img i:hover {
  color: #ff9ecb;
}

.flavors-img img {
  width: 300px;
  height: auto;
  transition: transform 0.3s all;
}

.image-container {
  position: relative;
}

.image-name {
  position: absolute;
  width: 300px;
  font-family: "Pacifico", sans-serif;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 32px;
  color: #333;
}

/* ===> Media Queries <=== */
@media (max-width: 600px) {
  html {
    font-size: 55%;
  }

  /* Navbar */
  #burger-menu {
    display: inline-block;
  }

  .navbar-extra i {
    font-size: 32px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #fd1586;
  }

  .header .navbar {
    position: absolute;
    border-radius: 0px;
    border: none;
    top: 100%;
    right: -100%;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .header .navbar.active {
    right: 0;
  }

  .navbar a {
    display: block;
    color: black;
    margin: 16px;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 500;
  }

  .navbar-nav a::after {
    transform-origin: 1 0;
  }

  .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  /* Hero */
  .hero-content {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .info-side {
    margin-top: 3rem;
    margin-right: 0;
  }

  .info-side p {
    font-size: 16px;
    line-height: 25px;
  }

  .heading {
    font-size: 32px;
  }

  .hero-img,
  .hero-img img {
    object-position: center;
    width: 270px;
    height: 270px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .menuBtn {
    font-size: 14px;
    width: 150px;
  }

  /* About */
  .about {
    padding: 25px;
  }

  .about-content {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .left-info p,
  .right-info p {
    font-size: 14px;
  }

  .right-info p {
    margin-top: 2rem;
  }

  .left-info img,
  .right-info img {
    width: 270px;
  }

  .right-info {
    margin-top: 6rem;
  }

  .yellowBtn,
  .whiteBtn {
    width: 100px;
    padding: 10px;
  }
}
